
body {
    margin: 0;
    background-color: #0e1616;
    font-family: sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table-container {
    margin-top: 20px;
    border: 8px solid white;
}
.table-grid {
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #43827c;
    gap: 4px;
}
.table-grid > div {
    background-color: #43827c;
}
.scoreboard {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.player {
    background-color: #2e3338;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}
.score {
    font-size: 32px;
}
button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
